body {
   text-align: center;
   font-family: Happy Monkey;
   color: #ffffff;
   background-color: #a2d2ff;
}

#francis-photo {
   width: 150px;
   border-radius: 50%;
   border: 5px solid #efb0c9;
}

h1, h2, h4 {
   text-shadow: 0 0 1px black;
}

h2, h4 {
   background-color: #efb0c9;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

